# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql://unknowncomputer:bollosone@localhost:5432/silkyway?schema=public"

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL="https://api.devnet.solana.com"
NEXT_PUBLIC_SOLANA_NETWORK="devnet" # Using devnet for development and testing
NEXT_PUBLIC_ESCROW_PROGRAM_ID=your_devnet_program_id # Deploy your program to devnet first
NEXT_PUBLIC_TREASURY_ADDRESS=58cPXoxj6f4VnNs8SYirXifURsvqAp8BJdw26UieVuiB # Create a new wallet for devnet testing

# Redis/Upstash
UPSTASH_REDIS_REST_URL="https://needed-catfish-11640.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AS14AAIjcDFkY2Y5ODQ2ZTU5MzU0NTkyODhkNGNkYjNjNjZmODdlZXAxMA"

NEXT_PUBLIC_PUSHER_KEY=d2125f7ea5b0edc07ca2
NEXT_PUBLIC_PUSHER_CLUSTER=eu
PUSHER_APP_ID=1939125
PUSHER_SECRET=f9a4e1d785d85cfd9e14

# Sentry
NEXT_PUBLIC_SENTRY_DSN=""

# Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=""

BIRDEYE_API_KEY=46b9f420d1e648189541986d1de7d659

# Rate Limiting
RATE_LIMIT_MAX=""
RATE_LIMIT_WINDOW=""

# Twitter API
TWITTER_API_KEY=vn0trk8YW5nTgim3CeXUycVxU
TWITTER_API_SECRET=5VuTdK9hmaXt1dtBkLTNQ9QMBynPvhQ0eyfyK6yzhOCO1wfeMX

# ClamAV Configuration
# Path to the ClamAV executable
CLAMSCAN_PATH=/usr/bin/clamscan

# Path to the ClamAV daemon socket
CLAMD_SOCKET=/var/run/clamav/clamd.ctl

# Use clamscan directly instead of the daemon due to permission issues
USE_CLAMD=false

# Disable mock scanning in production
MOCK_AV_SCAN=false