# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/silkyway?schema=public"

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL="https://api.devnet.solana.com"
NEXT_PUBLIC_SOLANA_NETWORK="devnet" # Using devnet for development and testing
NEXT_PUBLIC_ESCROW_PROGRAM_ID="your_devnet_program_id" # Deploy your program to devnet first
NEXT_PUBLIC_TREASURY_ADDRESS="your_devnet_treasury_address" # Create a new wallet for devnet testing

# Redis/Upstash
UPSTASH_REDIS_REST_URL="your_upstash_redis_url"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_token"

NEXT_PUBLIC_PUSHER_KEY="your_pusher_key"
NEXT_PUBLIC_PUSHER_CLUSTER="your_pusher_cluster"
PUSHER_APP_ID="your_pusher_app_id"
PUSHER_SECRET="your_pusher_secret"

# Sentry
NEXT_PUBLIC_SENTRY_DSN=""

# Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=""

BIRDEYE_API_KEY="your_birdeye_api_key"

# Rate Limiting
RATE_LIMIT_MAX=""
RATE_LIMIT_WINDOW=""

# Twitter API
TWITTER_API_KEY="your_twitter_api_key"
TWITTER_API_SECRET="your_twitter_api_secret"

# ClamAV Configuration
# Path to the ClamAV executable
CLAMSCAN_PATH=/usr/bin/clamscan

# Path to the ClamAV daemon socket
CLAMD_SOCKET=/var/run/clamav/clamd.ctl

# Use clamscan directly instead of the daemon due to permission issues
USE_CLAMD=false

# Disable mock scanning in production
MOCK_AV_SCAN=false